<!DOCTYPE html>
<html>
<head>

  <% include partials/head %>

  <link rel="stylesheet" href="./stylesheets/style.css">

  <script src="javascripts/inputValidator.js"></script>


</head>
<body>
<br><br>
<div class="container" id = 'login-container'>
<div class="alert alert-secondary" role="alert">

  <form action = "/login" method="post">
    <h1>Enter Email and password</h1>
    <p>Please fill in this form to login to your account.</p>
    <p id="errorMessages"></p>
    <% if (showError) { %>
      <div class='alert alert-danger' >
        <p><%= errorMsg %></p>
      </div>
    <% } %>
    <hr>
    <div>
      <input type="text" class="form-control mb-3" id="Email" name="Email" placeholder="Enter email"
             aria-label="Email">
    </div>
    <div>
      <input type="password" class="form-control mb-3" id="Password" name="Password"
             placeholder="Enter password" aria-label="Password">
    </div>

    <a class = "mb-3" href ='/register'>are you not registered?</a><br><br>

    <div class="buttons">
      <button type="submit" id="submit-button" class="btn btn-primary mb-3">Login</button>
    </div>
  </form>
</div>

</div>
<script>

  window.addEventListener('DOMContentLoaded', (event) => {
    // initiating the validator
    validator.init(32);
    validator.setDelimiters(" ,.;:!?-");

    /** performs the validation of the form
     * @param name an object containing the values of the form fields
     * @returns {boolean} true if the form is valid, false otherwise
     */
    const validateEmail = (email) => {
      let c = validator.validateMultiple(email,
              validator.isNotEmptyString,
              validator.validateEmail)
      return c;
    }

    document.getElementById('submit-button').addEventListener('click', (event) => {
      validator.emptyErrorMessages()
      document.getElementById("errorMessages").innerHTML=''

      if(!(validateEmail(document.getElementById('Email').value)))
      {
        event.preventDefault();
        document.getElementById("errorMessages").innerHTML = validator.convertErrorsToHtml();
      }
    });
  });
</script>

</body>
<% include partials/script %>
</html>
