<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/inputValidator.js"></script>
</head>
<body>
<br><br>
<div class="container" id="pass-container">

    <div class="alert alert-secondary" role="alert">
        <form action="/register/password/add-user" method="post">
            <h1>Enter password</h1>
            <p>Please fill in this form to create an account.</p>
            <p id="errorMessages"></p>
            <hr>
            <div>
                <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Password"
                       aria-label="Password">
            </div>
            <div>
                <input type="password" class="form-control mb-3" id="password-repeat" name="password-repeat"
                       placeholder="Confirm password"
                       aria-label="password-repeat">
            </div>

            <div class="buttons">
                <button type="button" id ='cancel' class="btn btn-primary mb-3">Cancel</button>
                <button type="submit" id="submit-button" class="btn btn-primary mb-3">Sign Up</button>
            </div>
        </form>
    </div>

</div>

<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        // initiating the validator
        validator.init(32);
        validator.setDelimiters(" ,.;:!?-");

        const validateInput = (pass) => {
            validator.setMaxLength(32);
            validator.setMinLength(3);
            let c = validator.validateMultiple(pass,
                validator.isNotEmptyString,
                validator.checkMinLength,
                validator.checkMaxLength)
            return c;
        }
        document.getElementById('submit-button').addEventListener('click', (event) => {
            validator.emptyErrorMessages()
            document.getElementById("errorMessages").innerHTML=''
            const pass1 = document.getElementById('password').value;
            const pass2 = document.getElementById('password-repeat').value;
            if(!(validateInput(pass1) && validateInput(pass2) && validator.validatePasswords(pass1,pass2)))
            {
                event.preventDefault();
                document.getElementById("errorMessages").innerHTML = validator.convertErrorsToHtml();
            }
        });
        document.getElementById('cancel').addEventListener('click', (event) => {
            window.location.href = 'http://localhost:3000/register'
        });
    });
</script>
</body>
<% include partials/script %>
</html>
